#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &bspc_del DEL BSPC &kp UP     &bootloader
                &kp RIGHT   &kp DOWN   &kp LEFT
                &kp KP_N3  &kp KP_N2  &kp KP_N1
                &kp KP_N6  &kp KP_N5  &kp KP_N4
                &kp KP_N9  &kp KP_N8  &kp KP_N7
                &out OUT_TOG &kp SPACE &kp F14
            >;
        };
    };
};
