#include <physical_layouts.dtsi>

/ {
    numpad18_layout: numpad18_layout {
        compatible = "zmk,physical-layout";
        display-name = "Numpad18";
        keys
            = <&key_physical_attrs 100 100   0   0  0 0 0>
            , <&key_physical_attrs 100 100 100   0  0 0 0>
            , <&key_physical_attrs 100 100 200   0  0 0 0>
            , <&key_physical_attrs 100 100   0 100  0 0 0>
            , <&key_physical_attrs 100 100 100 100  0 0 0>
            , <&key_physical_attrs 100 100 200 100  0 0 0>
            , <&key_physical_attrs 100 100   0 200  0 0 0>
            , <&key_physical_attrs 100 100 100 200  0 0 0>
            , <&key_physical_attrs 100 100 200 200  0 0 0>
            , <&key_physical_attrs 100 100   0 300  0 0 0>
            , <&key_physical_attrs 100 100 100 300  0 0 0>
            , <&key_physical_attrs 100 100 200 300  0 0 0>
            , <&key_physical_attrs 100 100   0 400  0 0 0>
            , <&key_physical_attrs 100 100 100 400  0 0 0>
            , <&key_physical_attrs 100 100 200 400  0 0 0>
            , <&key_physical_attrs 100 100   0 500  0 0 0>
            , <&key_physical_attrs 100 100 100 500  0 0 0>
            , <&key_physical_attrs 100 100 200 500  0 0 0>
            ;
    };
};

&numpad18_layout {
    kscan = <&kscan0>;
    transform = <&default_transform>;
};
